{% load static %}
{% block content%}
{% include 'main.html'%}
<div class="faq-container">
    <h2>Frequently Asked Questions</h2>
    <div class="faq">
      <div class="faq-question">
        What is a FAQ?
        <span class="plus-icon">+</span>
      </div>
      <div class="faq-answer">
        A Frequently Asked Questions (FAQ) page is a collection of questions and answers about a specific topic.
      </div>

      <div class="faq-question">
        Why should I have an FAQ on my website?
        <span class="plus-icon">+</span>
      </div>
      <div class="faq-answer">
        An FAQ page can help reduce the number of support tickets you receive and improve customer satisfaction.
      </div>

      </div>
  </div>
{% endblock content %}