
{% load static%}
{% include 'main.html' %}
{% if messages %}
{% for message in messages %}
  <div class="notification">
  <div class="notification-image"></div>
  <div class="notification-content">
    <div class="notification-text">
      <p class="notification-title">{{ message.tags }}</p>
      <span class="notification-timestamp">current Time </span>
      <span class="notification--close">X</span>
    </div>
    <p class="notification-message">{{message}}</p>
  </div>
 </div>
{% endfor %}
{% endif %}

