/* :root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg-color: #f0f0f0;
    --button-bg-color: #007bff;
    --button-text-color: #ffffff;
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg-color: #f0f0f0;
    --button-bg-color: #007bff;
    --button-text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

header {
    background-color: var(--header-bg-color);
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Light Mode Toggle Styles */
.slider {
    background-color: #f4f4f5;
}

.slider:before {
    background: linear-gradient(40deg, #ff8c00, #ff0080);
}

.switch {
    display: inline-block;
    position: relative;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    content: "";
    position: absolute;
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    top: 50%;
    left: 0.3em;
    transform: translateY(-50%);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - 1.7em);
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
} 


