{% extends 'main.html' %}

{% block content %}
{% load static%}
<main class="profile-page layout layout--2">
  <div class="container">
    <!-- Room Start -->
    <div class="room">
      <div class="room__top">
        <div class="room__topLeft">
          <a href="{% url 'home' %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
              
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          {% comment %} <h3>Study Room</h3> {% endcomment %}
        </div>
        <div class = "room__middle">
          <div class="colorPallete">
            <button><div class="colorPallete__item" style="background-color: #0b4dbe"></div></button>
            <button><div class="colorPallete__item" style="background-color: #b12c03"></div></button>
            <button><div class="colorPallete__item" style="background-color: #210202"></div></button>
            <button><div class="colorPallete__item" style="background-color: #f1e1a3"></div></button>
            <button><div class="colorPallete__item" style="background-color: #6a007d"></div></button>
            <button><div class="colorPallete__item" style="background-color: #00527b"></div></button>
          </div>
        </div>
        {% if room.host == request.user %}
        <div class="room__topRight">
          <a href="{% url 'update-room' room.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
              <path d="M18.4,4.4l1.2,1.2L6.2,19H5v-1.2L18.4,4.4 M18.4,2c-0.3,0-0.5,0.1-0.7,0.3L3,17v4h4L21.7,6.3c0.4-0.4,0.4-1,0-1.4l-2.6-2.6 C18.9,2.1,18.7,2,18.4,2L18.4,2z"></path><path d="M15.8 4.3H17.8V9.2H15.8z" transform="rotate(-45.001 16.75 6.75)"></path>
            </svg>
          </a>
          <a href="{% url 'delete-room' room.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
              <path d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"></path>
            </svg>
          </a>
        </div>
        {% endif %}

      </div>
      <div class="room__box scroll">
        <div class="room__header scroll">
          <div class="room__info">
            <h3>{{room.name}}</h3> 
            
            {% if request.user in room.participants.all  or  request.user != room.host %}
            {% comment %} {% if request.user == room.host%} {% endcomment %}
            <a href="{% url 'add-bookmark' room.id %}">
              <div class="room__bookmark">
                  <label class="ui-bookmark">
                      <input type="checkbox" {% if room in user.bookmarked_rooms.all %}checked{% endif %}>
                      <div class="bookmark">
                          <svg viewBox="0 0 32 32">
                              <g>
                                  <path d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z"></path>
                              </g>
                          </svg>
                      </div>
                  </label>
              </div>
              {% comment %} addbookmark {% endcomment %}
            </a>
          
            {% comment %} {% endif %} {% endcomment %}
            {% endif %}
            <div class="room__details">
            
             <div>
              <span>{{room.created|timesince}} ago</span>
             </div>

             <div>
              <span> {{UserMessagesCount}} chats</span>
             </div>
          
          </div>
          </div>
          <div class="room__hosted">
            <p>Hostedd By</p>
            <a href="{% url 'UserProfile' room.host.id %}" class="room__author">
              <div class="avatar avatar--small">
                <img src="{{room.host.Pfp.url}}" />
              </div>
              <span>@{{room.host.username}}</span>
            </a>
          </div>
         
          <span class="room__topics">{{room.topic}}</span>
        </div>

        <div class="room__conversation">
          <div class="threads scroll">

          {% for UserMessage in UserMessages %}
            <div class="thread">
              <div class="thread__top">
                <div class="thread__author">
                  <a href="{% url 'UserProfile' UserMessage.user.id %}" class="thread__authorInfo">
                    <div class="avatar avatar--small">
                      <img src="{{UserMessage.user.Pfp.url}}" />
                    </div>
                    <span>@{{UserMessage.user.username}}</span>
                    
                  </a>
                  <span class="thread__date">{{UserMessage.created|timesince}} ago</span>
                </div>

                {% if request.user == UserMessage.user %}
                <a href="{% url 'delete-message' UserMessage.id %}">
                  <div class="thread__delete">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                      <path d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"></path>
                    </svg>
                  </div>
                </a>
                {% endif %}
              </div>
              <div class="thread__details">
                {{UserMessage.body}}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
      <div class="room__message">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="message-container">
            <input name="body" class="message-input" placeholder="Write your message here..." />

            <button type="submit" class="AttachFile-btn">
              <img src="{% static 'icons/attach.png' %}" alt="attachIcon" class="attach-icon" />
            </button>
            <button type="submit" class="send-button" id="sendButton"  >
              <img src="{% static 'icons/send.png' %}" alt="sendButton" class="send-icon" />
            </button>
          </div>
          
          
        </form>
      </div>
    </div>

    <!-- Room End -->

    <!--   Start -->
    <div class="participants">
      <h3 class="participants__top">Participants <span>({{participants.count}} Joined)</span></h3>

      <div class="participants__list scroll">
        {% for person in participants %}
        <a href="{%  url 'UserProfile' person.id %}" class="participant">
          <div class="avatar avatar--medium">
            <img src="{{person.Pfp.url}}" />
          </div>
          <p>
            {{person.name}}
            <span>@{{person.username}}</span>
          </p>
        </a>
        {% endfor %}
      </div>
    </div>
    <!--  End -->
  </div>
</main>





{% endblock content %}